#game1 {
}

#game1 input[type=reset] {
  color: #f04e3e;
  display: inline;
  text-decoration: underline;
  margin: 0 auto;
}

.q-wrap {
  padding: 10px;
  height: calc(100vh - 50px);
}

.q-count {
  font-size: 14px;
  padding: 2px 10px;
  text-align: right;
}

.q-count span {
  display: none;
}

.q-text-wrap {
  height: 140px;
  padding: 19px;
  background: #f8f8f8;
  border: 1px solid black;
}

.q-text {
  display: none;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 16em;
}

.q-text::after {
  animation: 2s 4s steps(16) 5 forwards after-animation;
  background: #f8f8f8;
  bottom: 0;
  content: '';
  height: 20px;
  left: 0;
  position: absolute;
  width: 16em;
}

.q-answer {
  margin: 100px 5px;
  position: relative;
  text-align: center;
}

.q-answer .maru,
.q-answer .batu {
  background: white;
  border: 1px solid black;
  display: inline-block;
  width: 40vw;
  height: 40vw;
  margin: 5px;
  position: relative;
}

.q-answer .maru::after {
  content: '';
  display: block;
  margin: calc(15% - 8px);
  width: 70%;
  height: 70%;
  border: 8px solid #ec3c3c;
  border-radius: 70%;
  position: absolute;
}

.q-answer .batu::before,
.q-answer .batu::after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background: #3c3cec;
  position: absolute;
  top: calc(50% - 5px);
}

.q-answer .batu::before {
  transform: rotateZ(45deg);
}

.q-answer .batu::after {
  transform: rotateZ(-45deg);
}

.q-answer .maru label,
.q-answer .batu label {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 10;
}

/* 問題数の表示 */
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .q-wrap .q-count span:nth-child(1),
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .q-wrap .q-count span:nth-child(2),
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .q-wrap .q-count span:nth-child(3),
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .q-wrap .q-count span:nth-child(4),
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .q-wrap .q-count span:nth-child(5),
#g1:checked ~ .container #game1 #q5-correct:checked ~ .q-wrap .q-count span:nth-child(5) {
    display: inline;
}

/* 問の文字の高さの変更 */
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .q-wrap .q-text:nth-child(1),
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .q-wrap .q-text:nth-child(2),
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .q-wrap .q-text:nth-child(3),
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .q-wrap .q-text:nth-child(4),
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .q-wrap .q-text:nth-child(5) {
  animation: 10s 0s steps(5, end) both text-height;
  display: block;
}

/* 問の文字のカバーをアニメーション */
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .q-wrap .q-text:nth-child(1)::after,
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .q-wrap .q-text:nth-child(2)::after,
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .q-wrap .q-text:nth-child(3)::after,
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .q-wrap .q-text:nth-child(4)::after,
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .q-wrap .q-text:nth-child(5)::after {
  animation: 2s 0s steps(16, end) 5 both after-animation;
}

/* 回答ボタンの上にlabelを表示するアニメーション */
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .q-wrap .q-answer .maru label:nth-child(1),
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .q-wrap .q-answer .maru label:nth-child(2),
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .q-wrap .q-answer .maru label:nth-child(3),
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .q-wrap .q-answer .maru label:nth-child(4),
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .q-wrap .q-answer .maru label:nth-child(5),
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .q-wrap .q-answer .batu label:nth-child(1),
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .q-wrap .q-answer .batu label:nth-child(2),
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .q-wrap .q-answer .batu label:nth-child(3),
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .q-wrap .q-answer .batu label:nth-child(4),
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .q-wrap .q-answer .batu label:nth-child(5) {
  display: block;
  animation: show 0s 3s both;
}

/* 回答後に回答ボタンの上のlabelを非表示 */
#g1:checked ~ .container #game1 #q1-correct:checked ~ .q-wrap .q-answer .maru label:nth-child(1),
#g1:checked ~ .container #game1 #q1-correct:checked ~ .q-wrap .q-answer .batu label:nth-child(1),
#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .q-wrap .q-answer .maru label:nth-child(1),
#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .q-wrap .q-answer .batu label:nth-child(1),
#g1:checked ~ .container #game1 #q2-correct:checked ~ .q-wrap .q-answer .maru label:nth-child(2),
#g1:checked ~ .container #game1 #q2-correct:checked ~ .q-wrap .q-answer .batu label:nth-child(2),
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .q-wrap .q-answer .maru label:nth-child(2),
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .q-wrap .q-answer .batu label:nth-child(2),
#g1:checked ~ .container #game1 #q3-correct:checked ~ .q-wrap .q-answer .maru label:nth-child(3),
#g1:checked ~ .container #game1 #q3-correct:checked ~ .q-wrap .q-answer .batu label:nth-child(3),
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .q-wrap .q-answer .maru label:nth-child(3),
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .q-wrap .q-answer .batu label:nth-child(3),
#g1:checked ~ .container #game1 #q4-correct:checked ~ .q-wrap .q-answer .maru label:nth-child(4),
#g1:checked ~ .container #game1 #q4-correct:checked ~ .q-wrap .q-answer .batu label:nth-child(4),
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .q-wrap .q-answer .maru label:nth-child(4),
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .q-wrap .q-answer .batu label:nth-child(4),
#g1:checked ~ .container #game1 #q5-correct:checked ~ .q-wrap .q-answer .maru label:nth-child(5),
#g1:checked ~ .container #game1 #q5-correct:checked ~ .q-wrap .q-answer .batu label:nth-child(5),
#g1:checked ~ .container #game1 #q5-incorrect:checked ~ .q-wrap .q-answer .maru label:nth-child(5),
#g1:checked ~ .container #game1 #q5-incorrect:checked ~ .q-wrap .q-answer .batu label:nth-child(5) {
  display: none;
}

/* タイマーの表示 */
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(1),
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(2),
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(1),
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(2),
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(1) {
  display: inline-block;
}

/* 使わない方のタイマーを非表示 */
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(2),
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(1),
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(2),
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(1),
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .q-wrap .q-time > div:nth-child(2) {
  display: none;
}

/* 時間切れを表示 */
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .result .timeout,
#g1:checked ~ .container #game1 #q1-correct:not(:checked) ~ .result .timeout input,
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .result .timeout,
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .result .timeout input,
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .result .timeout,
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .result .timeout input,
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .result .timeout,
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .result .timeout input,
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .result .timeout,
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .result .timeout input {
  animation: show 0s 23s both;
}

/* 正解の表示 */
#g1:checked ~ .container #game1 #q1-correct:checked ~ #q2-correct:not(:checked) ~ .result div:nth-child(1) .correct,
#g1:checked ~ .container #game1 #q2-correct:checked ~ #q3-correct:not(:checked) ~ .result div:nth-child(2) .correct,
#g1:checked ~ .container #game1 #q3-correct:checked ~ #q4-correct:not(:checked) ~ .result div:nth-child(1) .correct,
#g1:checked ~ .container #game1 #q4-correct:checked ~ #q5-correct:not(:checked) ~ .result div:nth-child(2) .correct {
  animation: show 0s 2s both reverse;
  display: block;
}

#g1:checked ~ .container #game1 #q5-correct:checked ~ .complete,
#g1:checked ~ .container #game1 #q5-correct:checked ~ .complete .complete-text {
  display: block;
}

#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .result .in-correct,
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .result .in-correct,
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .result .in-correct,
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .result .in-correct {
  display: block;
}

#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .q-wrap .q-time .q-time-clock .num,
#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .q-wrap .q-time .q-time-gage .q-time-gage-bar,
#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .q-wrap .q-text,
#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .q-wrap .q-text::after,
#g1:checked ~ .container #game1 #q1-incorrect:checked ~ .result .timeout,
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .q-wrap .q-time .q-time-clock .num,
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .q-wrap .q-time .q-time-gage .q-time-gage-bar,
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .q-wrap .q-text,
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .q-wrap .q-text::after,
#g1:checked ~ .container #game1 #q2-incorrect:checked ~ .result .timeout,
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .q-wrap .q-time .q-time-gage .q-time-gage-bar,
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .q-wrap .q-time .q-time-clock .num,
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .q-wrap .q-text,
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .q-wrap .q-text::after,
#g1:checked ~ .container #game1 #q3-incorrect:checked ~ .result .timeout,
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .q-wrap .q-time .q-time-gage .q-time-gage-bar,
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .q-wrap .q-time .q-time-clock .num,
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .q-wrap .q-text,
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .q-wrap .q-text::after,
#g1:checked ~ .container #game1 #q4-incorrect:checked ~ .result .timeout,
#g1:checked ~ .container #game1 #q5-incorrect:checked ~ .q-wrap .q-time .q-time-gage .q-time-gage-bar,
#g1:checked ~ .container #game1 #q5-incorrect:checked ~ .q-wrap .q-time .q-time-clock .num,
#g1:checked ~ .container #game1 #q5-incorrect:checked ~ .q-wrap .q-text,
#g1:checked ~ .container #game1 #q5-incorrect:checked ~ .q-wrap .q-text::after,
#g1:checked ~ .container #game1 #q5-incorrect:checked ~ .result .timeout,
#g1:checked ~ .container #game1 #q5-correct:checked ~ .q-wrap .q-time .q-time-gage .q-time-gage-bar,
#g1:checked ~ .container #game1 #q5-correct:checked ~ .q-wrap .q-time .q-time-clock .num,
#g1:checked ~ .container #game1 #q5-correct:checked ~ .q-wrap .q-text,
#g1:checked ~ .container #game1 #q5-correct:checked ~ .q-wrap .q-text::after,
#g1:checked ~ .container #game1 #q5-correct:checked ~ .result .timeout {
  animation-play-state: paused !important;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-height {
  from {
    height: 0px;
  }
  to {
    height: 100px;
  }
}

@keyframes after-animation {
  from {
    width: 16em;
    left: 0em;
  }
  to {
    width: 0em;
    left: 16em;
  }
}

/* .q-time */
.q-time > div {
  width: 100%;
}

.q-time > div:nth-child(1) {
  display: inline-block;
}

.q-time > div:nth-child(2) {
  display: none;
}

.q-time .q-time-clock {
  display: inline-block;
}

.q-time .q-time-clock ul {
  list-style: none;
  font-size: 14px;
  padding: 0;
  position: relative;
  height: 14px;
}

.q-time .q-time-clock > ul {
  overflow: hidden;
}

.q-time .q-time-clock > ul > li {
  line-height: 14px;
  height: 14px;
  text-align: center;
  float: left;
}

.q-time .q-time-clock > ul > li > .num {
  height: 14px;
  position: relative;
  top: 0;
}

.num1 {
  animation: 10s 3s steps(1) forwards two-count;
}

.num2 {
  animation: 10s 2s steps(10) 2 ten-count;
}

.num3 {
  animation: 1s 3s steps(10) 20 ten-count;
}

.q-time .q-time-gage {
  width: calc(100% - 40px);
  height: 14px;
  display: inline-block;
  position: relative;
}

.q-time .q-time-gage .q-time-gage-bar {
  height: 12px;
  border-radius: 2px;
  background: #3c3cec;
  position: absolute;
  animation: 20s 3s linear both shrink-width;
}

@keyframes two-count {
  from {
    top: -14px;
  }
  to {
    top: -28px;
  }
}

@keyframes ten-count {
  from {
    top: 0;
  }
  to {
    top: -140px;
  }
}

@keyframes two-count {
  from {
    top: -14px;
  }
  to {
    top: -28px;
  }
}

@keyframes shrink-width {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/* result */
.result,
.complete {
  font-size: 30px;
  height: 100%;
  line-height: 30px;
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
}

.correct,
.in-correct,
.timeout,
.complete-text {
  display: none;
  position: absolute;
  text-align: center;
  top: 230px;
  width: 100%;
}

.timeout {
  display: block;
  opacity: 0;
}

.correct {
  color: #ec3c3c;
}

.in-correct {
  color: #3c3cec;
}

.complete {
  display: none;
  text-align: center;
  color: #aea310;
}

